.sticky-category{
  position: sticky;
  top: 100px;
}
.course-collapse {
  background: $white;
  .header {
    background: $primary-color;
    display: block;
    padding: 15px;
    color: $white;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
  }
  p {
    color: $dark;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 0 10px;
    margin-left: 15px;
    border-bottom: 1px solid #bebebe;
  }
  ul {
    margin-top: 20px;
    li {
      padding: 12px 15px;
        display: block;
        font-weight: 400;
        color: $dark;
        cursor: pointer;
      &:hover {
        background: $tag;
      }
    }
    .active{
        background: $tag;
      }
  }
}

.load-btn {
  border: none;
  padding: 15px;
  background: $primary-color;
  color: $white;
  border-radius: 5px;
  width: 100%;
  &:focus {
    outline: 0;
  }
}
.enq-img {
  background: url(banner-s.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
    h3{
    color: $white;
    padding: 20px 30px;
    position: absolute;
    bottom:50px;
  }
}
