.link li {
    margin-bottom: 10px;
    a {
        color: #0078e9;
        font-size: 14px;
        font-weight: 400;
    }
    h5 {
        padding: 50px 0 20px;
    }
}

.cont li {
    padding: 10px 0;
    p {
        line-height: 1.8;
    }
}

