@import "./style";
@import "./nav";
@import "./cource";
@import "./_detail";
@import "./teacher";
@import "./about";
@import "./term";
@import "./webinar";

.banner {
  height: 300px;
  background-image: url("banner-s.jpg");
  background-attachment: fixed;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 100px 0 0;
  h3 {
    color: $white;
  }
  @include mobile {
    height: 200px;
  }
}
.breadcrumb-item a {
  color: $white;
  font-weight: 300;

  &:hover {
    color: $primary_color;
  }
}
.bgl {
  background: $con;
}
.color-prime {
  color: $primary_color;
}

header {
  .hero {
    background: url(web-banner2.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80vh;
    width: 100%;
    @include mobile{
      background: url(web-banner-sm.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80vh;
    width: 100%;
    }
    .overlay {
      background: $primary_color;
      height: 80vh;
      width: 100%;
      opacity: 0.8;
      position: relative;

      .pattern {
        position: absolute;
        right: 20px;
        bottom: 20vh;
        opacity: 0.5;
        @include mobile {
          display: none;
        }
      }
      .pattern2 {
        position: absolute;
        top: 15vh;
        opacity: 0.5;
        @include mobile {
          display: none;
        }
      }

      .header_content {
        width: 100%;
        color: $white;
        -ms-transform: translate(0, 30px); /* IE 9 */
        transform: translate(0, 25vh);
        text-align: center;
        h1 {
          letter-spacing: 3px;
          display: flex;
          justify-content: center;
          text-transform: uppercase;
           span{
             overflow: hidden;
             position: relative;
             height: 90px;
             padding-top: 10px;
             margin-top: -10px;
             li{
               padding: 0 10px;
               color: $header_text;
               height: 45px;
               margin-bottom: 45px;
               display: block;
               text-align: left;
                @include mobile {
                 text-align: center;
               }
             }
           }
        }
        .flip2{animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;}
        .flip3{animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;}
        .flip4{animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;}

        @keyframes flip2 {
          0%{margin-top: -180px;}
          5%{margin-top: -90px;}
          50%{margin-top: -90px;}
          55%{margin-top: 0px;}
          99.99%{margin-top: 0px;}
          100%{margin-top: -270px;}
        }
        @keyframes flip3 {
          0%{margin-top: -270px;}
          5%{margin-top: -180px;}
          33%{margin-top: -180px;}
          38%{margin-top: -90px;}
          66%{margin-top: -90px;}
          71%{margin-top: 0px;}
          99.99%{margin-top: 0px;}
          100%{margin-top: -270px;}
        }
        @keyframes flip4 {
          0%{margin-top: -360px;}
          5%{margin-top: -270px;}
          25%{margin-top: -270px;}
          30%{margin-top: -180px;}
          50%{margin-top: -180px;}
          55%{margin-top: -90px;}
          75%{margin-top: -90px;}
          80%{margin-top: 0px;}
          99.99%{margin-top: 0px;}
          100%{margin-top: -270px;}
        }
        p {
          font-size: 35px;
          color: $white;
          @include mobile {
            // text-align: center;
          }
        }
        .tittle-s {
          color: $white;
        }
        .language {
          margin-top: 15px;
          font-size: 18px;
          color: $white;
          span {
            color: $header_text;
          }
        }
      }
    }
    
  }
}
.sup-con {
  width: 100%;
  height: 90px;
  position: absolute;
  // border-top: 1.5px solid #ffffff;
  background: $primary_color;
  bottom: 10px;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 4px -13px 29px -11px rgba(0, 7, 142, 0.62);
  -moz-box-shadow: 4px -13px 29px -11px rgba(0, 7, 142, 0.62);
  box-shadow: 4px -13px 29px -11px rgba(0, 7, 142, 0.62);

  h5,
  p {
    color: $white;
  }
  i{
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 0.1em solid $white;
    height: 20px ;
    width: 20px;
    border-radius:50%;
    margin-right: 10px;
  }
  @include mobile {
    display: block;
    padding: 10px 10px;
    height: 410px;
  position: relative;
    div{
      padding:20px  20px;
    }
    h5 {
      margin-top: 5px;
    }
  }
}
section {
  height: 100%;
  width: 100%;
  padding: 100px 0;
  @include mobile {
    padding: 50px 0;
  }
}

.cource {
  .cource_details {
    display: flex;
    justify-content: center;
    @include mobile {
      display: none;
    }
    ul {
      padding: 40px 0 20px;
      display: block;
    }
    li {
      display: inline-block;
      margin: 10px 28px 0 0;
      position: relative;
      text-align: center;
      a {
        font-size: 17px;
        font-weight: 500;
        padding-bottom: 5px;
        // color: $dark;
        color: $dark;
        transition: 0.2s ease;
      }
      &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: $primary_color;
        bottom: -20%;
        opacity: 0.8;
        display: none;
        animation-name: nav;
        animation-duration: 0.2s;
      }
      @keyframes nav {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      &:hover::before {
        display: block;
      }
    }
    .active_cource::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $primary_color;
      bottom: -20%;
      display: block;
    }
  }

  .card {
    border: none;
    transition: 0.2s;
    max-height: 505px;
    height: 505px;
    @include mobile {
      margin-bottom: 30px;
    }
    .ratting,
    .date {
      font-size: 14px;
      font-weight: 400;
      color: $dark;
    }
    h5 {
      font-size: 22px;
    }
    p {
      font-size: 15px;
    }
    .fotter {
      background: $tag;

      h5 {
        color: $primary_color;
      }
      p {
        color: $dark;
      }
      .price {
        text-align: center;
        @include mobile {
        }
        h5,
        p {
          color: $primary_color;
          &::before {
            content: "₹";
            font-family: Arial, Helvetica, sans-serif;
          }
        }
        p {
          color: #727272;
        }
      }
    }

    &:hover {
      -webkit-box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
      -moz-box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
      box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
      transform: scale(1.05, 1.05);
    }
  }
  .card_active {
    @include mobile {
      -webkit-box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
      -moz-box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
      box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
    }
  }
}

.timeline {
  width: 100%;
  display: flex;
  position: relative;
  @include mobile {
    display: none;
  }
  div {
    width: 25%;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      border: solid 2px #d6d6d6;
      border-radius: 50px;
      background: $body;
      transition: 0.2s;
      &:hover {
        background: $primary_color;
        color: #edf2ff !important;
        border: 0;
        cursor: pointer;

        h5 {
          color: #edf2ff;
        }
      }
    }
    .active {
      background: $primary_color;
      border: 0;
      h5 {
        color: #edf2ff;
      }
    }
  }
  &::before {
    content: "-------------------------------------------------";
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: -1;
    color: #d6d6d6;
  }
}
.timeline_mobile {
  display: none;
  @include mobile {
    display: inline-block;
  }
  h6 {
    margin-top: 25px;
  }
  span {
    height: 8px;
    width: 8px;
    display: inline-block;
    background: $dark;
    border-radius: 10px;
    margin-right: 10px;
  }
}
.steps {
  position: relative;
  @include mobile {
    margin-top: 10%;
  }
}

.info {
  h5 {
    color: $primary_color;
  }
  div {
    transition: 0.2s;
    &:hover {
      background: $white;
      -webkit-box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
      -moz-box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
      box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
    }
  }
  .active {
    @include mobile {
      margin-bottom: 20px;
      text-align: center;
      background: $white;
      -webkit-box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
      -moz-box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
      box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
    }
  }
}
.brand {
  margin-top: 50px;
}
.brand img {
  width: 160px;
  height: 50px;
}
.slick-slide {
  margin: 0 20px;
}

.contant_wrap {
  background: $white;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: -5px 10px 43px -14px rgba(168, 185, 255, 0.26);
  -moz-box-shadow: -5px 30px 43px -14px rgba(168, 185, 255, 0.37);
  box-shadow: -5px 30px 43px -14px rgba(168, 185, 255, 0.21);
  p {
    font-size: 15px;
  }
  .review {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    h6 {
      margin: 0;
      padding: 0;
    }
    i {
      margin-right: 5px;
      font-size: 10px;
      color: #fda81f;
    }
  }
}

.slick-slide {
  &:focus,
  a {
    outline: none;
  }
}
.control {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
  .btn_slide {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 2px solid $primary_color;
    border-radius: 50%;
    margin-right: 20px;
    color: $primary_color;
    transition: 0.1s;
    &:hover {
      background: $primary_color;
      color: $white;
      border: none;
      -webkit-box-shadow: 0px 27px 46px -20px rgba(127, 138, 255, 1);
      -moz-box-shadow: 0px 27px 46px -20px rgba(127, 138, 255, 1);
      box-shadow: 0px 27px 46px -20px rgba(127, 138, 255, 1);
    }
  }
  .active_btn_slide {
    background: $primary_color;
    color: $white;
    border: none;
    -webkit-box-shadow: 0px 27px 46px -20px rgba(127, 138, 255, 1);
    -moz-box-shadow: 0px 27px 46px -20px rgba(127, 138, 255, 1);
    box-shadow: 0px 27px 46px -20px rgba(127, 138, 255, 1);
  }
}

.sub_con {
  width: 80%;
  margin: auto;
  @include mobile {
    width: 100%;
  }
}
.subscribe {
  border-radius: 10px;
  background: $white;
  height: 240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  -webkit-box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
  -moz-box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
  box-shadow: -5px 60px 43px -14px rgba(168, 185, 255, 0.34);
  @include mobile {
    text-align: center;
    display: block;
    position: relative;
    padding: 40px;
    height: 250px;
  }
  .sub_btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    border: none;
    background: $primary_color;
    border-radius: 10px;
    color: $white;
    font-size: 18px;
    font-weight: 400;
    transition: 0.2s;
    @include mobile {
      margin: 20px auto;
      height: 45px;
      width: 150px;
      font-size: 15px;
    }
    &:hover {
      -webkit-box-shadow: 0px 27px 46px -20px rgba(127, 138, 255, 1);
      -moz-box-shadow: 0px 27px 46px -20px rgba(127, 138, 255, 1);
      box-shadow: 0px 27px 46px -20px rgba(127, 138, 255, 1);
      margin-bottom: 10px;
    }
    &:focus {
      outline: none;
    }
  }
}

footer {
  height: 100%;
  background: $con;
  padding: 2% 0;
  padding-top: 60px;
  ul li {
    padding: 5px 0;

    a {
      font-size: 16px;
      font-weight: 400;
      color: $dark;
      transition: 0.2s;
      &:hover {
        color: $dark;
        padding-left: 10px;
      }
    }
  }
  .m_sm {
    @include mobile {
      margin-top: 20px;
    }
  }
  .social-icon {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      background: $primary_color;
      margin-right: 10px;
      border-radius: 50px;
      color: $white;
    }
  }
}
